[project]
	state = active
[access "refs/heads/*"]
	owner = group Administrators
	create = group ruby maintainers
	push = +force group ruby maintainers
	label-Code-Review = -2..+2 group ruby maintainers
	label-Verified = -1..+1 group ruby maintainers
	rebase = group ruby maintainers
	forgeAuthor = group ruby maintainers
	forgeCommitter = group ruby maintainers
